.login-general-div {
    background-color: azure;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100%;
    background-color: #F7F9FC;
}

.login-banner-title {
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 85px;
    line-height: 102px;
    color: #FFFFFF;
}

.login-banner-subtitle {
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #FFFFFF;
}

.login-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    height: 58%;
    width: 66%;
    padding: 7%;
    border-radius: 20px;
}

.login-form-container-inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.login-form-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 20px;
    height: 25%;
}

.login-button {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;

    width: 250px;
    height: 60px;
    margin: 6%;
    background: linear-gradient(180deg, #4989DE 0%, #3D86E7 100%);
    border: none;
    border-radius: 22.7579px;
    cursor: pointer;
}

.login-form-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    height: 35px;
    color: #000000;
}

.login-input {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;

    border: none;
    box-shadow: #93b8ee 0px 2px;
    width: 254px;
    height: 35px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0px 10px;
}

.login-input:focus {
    outline: none !important;
    background-color: rgb(199, 233, 255);
    border: none;
    box-shadow: #93b8ee 0px 2px;
    width: 254px;
    height: 35px;
}